footer {
    padding: 0 30px 15px;
  }
  
  footer,
  a.githubLink {
    font-family: var(--secondary-font);
    font-size: 15px;
    opacity: 0.8;
  }
  
  footer a.githubLink {
    display: inline-block;
    text-decoration: none;
    color: #03105a;
    text-shadow: var(--text-shadow);
    transition: var(--transition);
  }
  
  footer a.githubLink:hover {
    color: #03105a;
    transform: scale(1.05);
  }
  
  footer a.githubLink:active {
    color: #fff;
    text-shadow: 2px 2px 5px #03105a;
    text-decoration: none;
  }

  footer a.linkedinLink {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
  }
  
  footer a.linkedinLink:hover {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }