header {
    padding: 30px 30px 8px;
    border-radius: 5px;
  }
  
  form.search {
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    line-height: 1.5;
  }
  
  input.search-input {
    border-radius: 5px;
    box-shadow: 2px 2px 5px #460540;
  }
  
  .upperBtn {
    background: linear-gradient(
      68.6deg,
      rgb(252, 165, 241) 1.8%,
      rgb(181, 255, 255) 100.5%
    );
    border: 2px outset #dcb5ff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #a13b94;
    color: rgba(70, 5, 64, 0.85);
    text-shadow: 1px 0 0px #b5ffff, -1px 0 0px #9b3f8f;
    font-family: "Press Start 2P", cursive;
    margin: 5px;
    padding: 6px 12px;
    font-size: 16px;
    transition: all 150ms ease-in-out;
  }
  
  .upperBtn:hover {
    color: #891180;
    border: 2px outset #d59bf6;
    border-radius: 5px;
  }
  
  .upperBtn:active {
    transform: scale(0.9);
    border: 2px outset #d59bf6;
  }
  