section.mainWeather {
    margin: 0 20px;
    padding: 0 30px;
    text-align: start;
  }
  
  section h2.degrees {
    font-family: var(--primary-font);
    font-size: 14px;
  }
  
  section p span.dateTime {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-weight: 700;
  }
  
  section p #description {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    display: block;
  }
  
  section p #description:first-letter {
    text-transform: uppercase;
  }
  