span.mainDegrees {
    font-size: 42px;
    color: #1e1b1e;
  }
  span.temType {
    font-size: 24px;
    cursor: pointer;
  }
  
  .active {
    cursor: default;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
  }
  
  .active:hover {
    text-decoration: none;
    cursor: text;
    color: var(--primary-color);
  }
  
  a.to-be-chosen {
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 200ms ease-in-out;
  }
  
  a.to-be-chosen:hover {
    color: var(--secondary-color);
    font-size: 26px;
  }
  
  @media (max-width: 600px) {
    div.mainTemperature {
      display: flex;
      flex-direction: row;
    }
  }
  