.mainTemperature {
    font-family: var(--primary-font);
  }
  
  span.mainDegrees {
    font-size: 80px;
    color: #1e1b1e;
    text-shadow: var(--text-shadow);
    }

    span.temType {
      font-size: 24px;
    }
    
    a.to-be-chosen {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.4);
      transition: var(--transition);
    }
    
    a.to-be-chosen:hover {
      font-size: 26px;
      color: var(--primary-color);
      text-shadow: 2px 5px 5px var(--secondary-color);
    }