/*  */
:root {
  --primary-font: 'DM Serif Display', serif;
  --secondary-font: "Josefin Sans", sans-serif;
  --primary-color: #1e1b1e;
  --secondary-color: rgba(0, 0, 0, 0.6);
  --text-shadow: 1px 1px #F7F5F4;
}

body {
    background-image: url(./pics/holographic.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .container {
    text-align: center;
    margin: 60px auto;
    padding: 1px;
    max-width: 450px;
  
    backdrop-filter: blur(10px);
    color: #000;
  
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    }
  
  hr {
    margin: 15px 45px;
  }
  