/* 2px 2px 3px #fff */
:root {
  --primary-font: 'DM Serif Display', serif;
  --secondary-font: "Josefin Sans", sans-serif;
  --primary-color: #1e1b1e;
  --secondary-color: rgba(0, 0, 0, 0.6);
  --text-shadow: 2px 2px 2px #f7f5f4;
  --transition: all 300ms ease-in-out;
}

body {
    background-image: url(./pics/09.png);
    background-attachment: fixed;
    background-size: cover;
  }
  
  .App {
    text-align: center;
  }
  
  .container {
    text-align: center;
    margin: 60px auto;
    padding: 1px;
    max-width: 600px;
  
    backdrop-filter: blur(10px);
    color: #000;
  
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    }

    div.Weather {
      padding: 30px 30px 8px;
      border-radius: 5px;
    }
    
    form.search {
      font-family: 'DM Serif Display', serif;
      font-size: 16px;
      line-height: 2;
    }
    
    input.search-input {
      background-color: inherit;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      color: var(--secondary-color);
      font-style: italic;
      margin: auto;
    }
  
    input.search-input:focus {
      outline: none;
      box-shadow: inset 2px 2px 15px #F7F5F4;
      border: 1px solid #F7F5F4;
    }
    
    input.search-input::placeholder {
      color: rgba(45, 26, 42, 0.75);
      text-align: start;
      padding-left: 5px;
    }
  
    .upperBtn {
      background: inherit;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 5px;
      color: var(--primary-color);
      font-family: var(--primary-font);
      margin: 8px;
      padding: 4px 12px;
      font-size: 22px;
      transition: var(--transition);
    }
    
    .upperBtn:hover {
      box-shadow: 2px 2px 5px #b5ffff, 1px -1px 5px #F7F5F4;
      border-radius: 5px;
      filter: drop-shadow(var(--text-shadow));
    }
    
    .upperBtn:active {
      box-shadow: inset 2px 2px 10px #F7F5F4, 1px -1px 10px #F7F5F4;
    }
    
    .mainCity {
      margin: 20px 20px 8px;
    
      text-align: center;
      text-transform: capitalize;
      color: var(--primary-color);
      filter: drop-shadow(var(--text-shadow));
      font-family: var(--primary-font);
      font-size: 86px;
    }

    .mainCity + h4 {
      font-family: var(--primary-font);
      color: var(--secondary-color);
      text-transform: uppercase;
      font-size: 18px;
    }
    
    section.mainWeather {
      margin: 0 20px;
      padding: 0 30px;
      text-align: start;
    }
    
    section p span.dateTime {
      font-family: var(--secondary-font);
      color: var(--secondary-color);
      font-weight: 700;
    }
    
    section p #description, span.humidity, span.wind {
      font-family: var(--secondary-font);
      color: var(--secondary-color);
      font-weight: 500;
    }
    
    section p #description:first-letter {
      text-transform: uppercase;
    }
    
    section h2.leftColumn {
    font-family: var(--primary-font);
    filter: drop-shadow(var(--text-shadow));
    }

    span.mainDegrees {
      font-size: 42px;
      color: #1e1b1e;
    }

    span.temType {
      font-size: 24px;
    }
    
    a.to-be-chosen {
      text-decoration: none;
      color: rgba(3, 16, 90, 0.5);
      transition: var(--transition);
    }
    
    a.to-be-chosen:hover {
      font-size: 26px;
      color: #03105a;
    }

hr {
  margin: 15px 45px;
}

@media (max-width: 600px) {
  div.mainTemperature {
    display: flex;
    flex-direction: row;
  }
}